<h1>Conceito Básicos ANGULAR</h1>
<nav>
    <ul>
        <li><button [routerLink]="'/comp1'">Comp 1</button></li>
        <li><button [routerLink]="'/comp2'">Comp 2</button></li>
        <li><button [routerLink]="'/comp3'">Comp 3</button></li>
        <li><button [routerLink]="'/comp4'">Comp 4</button></li>
        <li><button [routerLink]="'/comp5'">Comp 5</button></li>
        <li><button [routerLink]="'/comp6'">Comp 6</button></li>
        <li><button [routerLink]="'/comp7'">Comp 7</button></li>
        <li><button [routerLink]="'/comp8'">Comp 8</button></li>
    </ul>
</nav>

<app-comp-3 [armazenandoTituloDoComponentePAI]="textoComponentePai" (textoFilhoEmite)="emitirValorDoFilho($event)" />

<router-outlet>

</router-outlet>